@font-face {
    font-family: 'Hexa';
    src: url('../fonts/qbotype-fonts_hexa/Hexa.ttf') format('truetype');
  }  

* {
    font-family: 'Hexa', Arial;
}

h1 {
    font-size: 90px;
    text-align: center;
}

#game-board {
    height: 650px;
    width: 650px;
    border: 1px red solid;
    float: right;
}

.game-square {
    height: 650px;
    width: 650px;
    border: 1px green solid;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 128px;
    width: 128px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}

#start-game-btn {
    font-size: 50px;
    margin-bottom: 30px;
}

.diamonds-count-1 {
    background-image: url("../img/oneDiam.png");
}

.diamonds-count-2 {
    background-image: url("../img/twoDiams.png");
}

.diamonds-count-3 {
    background-image: url("../img/threeDiams.png");
}

.diamonds-count-4 {
    background-image: url("../img/fourDiams.png");
}

#players-counter {
    height: 300px;
    width: 300px;
    border: 1px blue solid;
    float: left;
}

.player-name {
    font-size: 50px;
}

.points {
    font-size: 50px;
}

.selectedCell {
    background-color: lightskyblue;
}
