@font-face {
    font-family: 'Hexa';
    src: url('../fonts/qbotype-fonts_hexa/Hexa.ttf') format('truetype');
  }  

* {
    font-family: 'Hexa', Arial;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: white;
}

#game-board {
    height: 650px;
    width: 650px;
    border: 4px white solid; 
    float: right;
    margin: 0, 30px, 30px, 30px;
}

.game-square {
    height: 650px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 128px;
    width: 128px;
    border: 1px white solid;
    display: flex;
    flex-wrap: wrap;
}

#start-game-btn {
    font-size: 50px;
    margin: 30px;
}

.diamonds-count-1 {
    background-image: url("../img/oneDiam.png");
}

.diamonds-count-2 {
    background-image: url("../img/twoDiams.png");
}

.diamonds-count-3 {
    background-image: url("../img/threeDiams.png");
}

.diamonds-count-4 {
    background-image: url("../img/fourDiams.png");
}

#players-counter {
    height: 300px;
    width: 300px;
    float: left;
    margin: 30px;
}

.player-name {
    font-size: 50px;
}

.player-one.player-name,
.player-one.player-one-score {
    color: rgb(231, 0, 49);
}

.player-two.player-name,
.player-two.player-two-score {
    color: rgb(141, 0, 194);
}

.points {
    /* TODO: remove the need to add an empty character to reserve vertical space */
    font-size: 50px;
    text-align: center;
}

.selected-cell-player1 {
    background-color: rgb(231, 0, 49);
}

.selected-cell-player2 {
    background-color: rgb(141, 0, 194);
}

/*.lastSelectedCell {
    border: yellow 2px solid;
}*/

#players-counter .hilighted {
    text-decoration: underline;
}

#rounds-counter {
    height: 100px;
    width: 300px;
    float: left;
    margin-top: 30px;
}

.rounds {
    font-size: 50px;
    color: greenyellow;
}

